@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  /* font-family: Arial, sans-serif; */
  font-family: "Inter", system-ui, sans-serif;

  background: linear-gradient(to right, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #333;
}

.auth-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.auth-card h2 {
  margin-bottom: 30px;
  color: #333;
  font-size: 2em;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 10;
}

.choices__inner {
  padding: 10px;
  display: flex;
  align-items: center;
}
.choices__item {
  text-align: left;
  padding-left: 30px;
}
.choices__list--dropdown {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.input-group input {
  width: calc(100% - 50px);
  padding: 12px 20px 12px 45px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input-group input:focus {
  border-color: #667eea;
  outline: none;
}

.btn-primary {
  background: linear-gradient(to right, #667eea, #764ba2);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 100%;
}

.btn-primary:hover {
  opacity: 0.9;
}

p {
  margin-top: 20px;
  font-size: 0.9em;
}

p a {
  color: #667eea;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

.input-error {
  border: 2px solid #e74c3c;
  background-color: #fceaea;
}
